<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">¿Qué estás buscando?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="search-container">
    
    <ion-segment [(ngModel)]="filtroTipo" class="custom-segment">
      <ion-segment-button value="casa">
        <ion-icon name="home"></ion-icon>
        Casa
      </ion-segment-button>
      <ion-segment-button value="departamento">
        <ion-icon name="business"></ion-icon>
        Departamento
      </ion-segment-button>
      <ion-segment-button value="cuarto">
        <ion-icon name="bed"></ion-icon>
        Cuarto
      </ion-segment-button>
    </ion-segment>

    <ion-segment [(ngModel)]="filtroUniversidad" class="custom-segment">
      <ion-segment-button value="uaq">UAQ</ion-segment-button>
      <ion-segment-button value="itq">ITQ</ion-segment-button>
      <ion-segment-button value="uteq">UTEQ</ion-segment-button>
      <ion-segment-button value="uvm">UVM</ion-segment-button>
      <ion-segment-button value="unam">UNAM</ion-segment-button>
    </ion-segment>

    <ion-item class="custom-item">
      <ion-label>Rango de Precios</ion-label>
      <ion-range min="1000" max="10000" [(ngModel)]="filtroPrecio" dualKnobs="true"></ion-range>
    </ion-item>

  </div>

  <ion-list class="custom-list">
    <ion-card *ngFor="let propiedad of aplicarFiltros()" class="custom-card" (click)="verDetalle(propiedad)">
      <ion-img [src]="propiedad.imagen" class="custom-img"></ion-img>
      <ion-card-header>
        <ion-card-title class="custom-title">
          {{ propiedad.tipo }} - ${{ propiedad.precio }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        A {{ propiedad.distancia }} km de {{ propiedad.universidad }}
      </ion-card-content>
    </ion-card>
  </ion-list>
  

</ion-content>
