.login-content {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    background-color: #f8f8f8;
  }
  
  .login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-card {
    width: 90%;
    max-width: 400px; 
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  